<h1><%= @book.title %></h1>
<p><strong>Author:</strong> <%= @book.author %></p>
<p><strong>Genre:</strong> <%= @book.genere %></p>
<p><strong>Publish Year:</strong> <%= @book.publish_year %></p>
<p><strong>ISBN:</strong> <%= @book.ISBN %></p>

<%= link_to 'Back to Books', books_path %>