<h1>Create New Member</h1>

<%= form_with(model: @member, local: true) do |form| %> 
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :date_of_birth %>
    <%= form.date_field :date_of_birth %>
  </div>

  <div>
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div>
    <%= form.submit "Create Member" %>
  </div>

  <%= link_to "Back", members_path %>

<% end %>
